

<div class="container-full" style="margin-top: 30px">
 
    <div class="header col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 rounded-top" [ngStyle]="{'background-image': profile?.imagecover!=null?'url('+getimage(profile?.imagecover)+')':
  'url(https://images2.alphacoders.com/474/thumb-1920-474206.jpg)'}">
      </div>
      <div class="row grey-row">
        <div class="map">
            <img src="/assets/image/navbar_logo.jpg" *ngIf="profile?.imageprofile==undefined" alt="..." class="img-thumbnail mx-auto d-block rounded-circle">
          <img src="{{getimage(profile.imageprofile)}}" *ngIf="profile?.imageprofile!=undefined" alt="..." class="img-thumbnail mx-auto d-block rounded-circle">
          <div class="authorcontent mt-0">
          </div>
        </div>
      </div>
 
       
    
    
    
    <div class="row">
      <div class="col-3 mt-3">
      
     
  
      <div class="about block shadow-sm pt-3 pb-3 pl-3 pr-3 bg-white rounded">
          <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/setting">ตั้งค่าข้อมูลส่วนตัว</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link active" href="/setting/settingabout">ตั้งค่าข้อมูลเกี่ยวกับฉัน</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/setting/settingaccount" >ผู้ใช้และรหัสผ่าน</a>
              </li>
             
            </ul>
  
  
        </div>
  

  
  </div>

  <div class="col-9 mt-3">
      
     
  <router-outlet></router-outlet>
  </div>
  
  