<body>


    <app-navbar></app-navbar>

 
      <!-- <div class="icon-bar float-left shadow bg-white rounded d-none d-lg-block">
          <a class="active" href="#"><i class="fa fa-home"></i></a> 
          <a href="#"><i class="fas fa-user-circle"></i></a> 
          <a href="#"><i class="fa fa-envelope"></i></a> 
          <a href="#"><i class="fa fa-globe"></i></a>
        </div>

        <div class="chat-bar shadow bg-white rounded d-none d-lg-block">
            <a class="active" href="#"><i class="fa fa-home"></i></a> 
            <a href="#"><i class="fa fa-search"></i></a> 
            <a href="#"><i class="fa fa-envelope"></i></a> 
            <a href="#"><i class="fa fa-globe"></i></a>
            <a href="#"><i class="fa fa-trash"></i></a> 
          </div> -->

 
     
     

  
 <div class="container-full" style="margin-top: 100px">
       
    <flash-messages></flash-messages>
    <ng4-loading-spinner> </ng4-loading-spinner>
     <router-outlet></router-outlet>
    </div>

    

 
</body>